* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --hospital-purple: #6F21FF;
    --principal-button-yellow: #FFF208;

    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor-nav {
    border: 5px solid blue;
}

.item-nav {
    border: 5px solid #00bcd4;
}

.contenedor-info {
    border: 5px solid blue;
}

.item-info {
    border: 5px solid #00bcd4;
}

.contenedor-boton {
    border: 5px solid blue;
}

.item-boton {
    border: 5px solid #00bcd4;
}

.contenedor-footer {
    border: 5px solid blue;
}

.item-footer {
    border: 5px solid #00bcd4;
}