* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --hospital-purple: #6F21FF;
    --principal-button-yellow: #FFF208;

    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor-nav {
    

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 10rem 3rem;  
    gap: 1.5rem; 
}


.contenedor-info {
    border: 5px solid blue;

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows:16rem 3rem 1.6rem 1.6rem;
    gap: 1.5rem; 
    place-items: center;
}

.item-info {
    border: 5px solid #00bcd4;
}

.contenedor-boton {
    border: 5px solid blue;

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 4rem 4rem 4rem 4rem ;
    gap: 1.5rem; 
    place-items: center;
}

.item-boton {
    border: 5px solid #00bcd4;
}

.contenedor-footer {
    border: 5px solid blue;

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
    gap: 1rem; 
    place-items: center;
}

.item-footer {
    border: 5px solid #00bcd4;


}

.item-nav-2, .item-nav-4 {
    justify-self: right;
}

.contenedor-nav .item-nav-1 img{
    height: 7rem;
    margin-left: 2rem;
}

.contenedor-nav .item-nav-2 img{
    height: 3rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.contenedor-nav .item-nav-4 button {
    margin-right: 1.5rem;
    background-color: var(--principal-button-yellow);
    border-color: var(--principal-button-yellow);
    border-radius: 0.5rem;
}