* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --hospital-purple: #6F21FF;
    --principal-button-yellow: #FFF208;

    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor-nav {
    

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 10rem 3rem;  
    gap: 1.5rem; 
}


.contenedor-info {
  

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows:16rem 3rem 1.6rem 1.6rem;
    gap: 1.5rem; 
    place-items: center;
}


.contenedor-boton {
    

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 4rem 4rem 4rem 4rem ;
    gap: 1.5rem; 
    place-items: center;
}



.contenedor-footer {
 

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
   
    place-items: center;

    background-color: var(--hospital-purple);
    
}



.item-nav-2, .item-nav-4 {
    justify-self: right;
}

.contenedor-nav .item-nav-1 img{
    height: 7rem;
    margin-left: 2rem;
}

.contenedor-nav .item-nav-2 img{
    height: 3rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.contenedor-nav .item-nav-4 button {
    margin-right: 1.5rem;
    background-color: var(--principal-button-yellow);
    border-color: var(--principal-button-yellow);
    border-radius: 0.5rem;
}

.contenedor-info {
    margin-bottom: 3rem;
}
.contenedor-info .item-info-1 img{
    height: 16rem;
        
}

.contenedor-info .item-info-2 span{
    font-size: var(--lg);
}

.contenedor-info .item-info-3 span{
    font-size: var(--sm);
}

.contenedor-info .item-info-4 span{
    font-size: var(--sm);
   
}

.contenedor-boton {
    margin: 3rem;
}

.contenedor-boton .item-boton-1 button {
    font-size: var(--sm);
    background-color: var(--principal-button-yellow);
    border-color: var(--principal-button-yellow);
    border-radius: 0.5rem;
    padding-left: 4rem; 
    padding-right: 4rem ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contenedor-boton .item-boton-2 button {
    font-size: var(--sm);
    background-color: var(--principal-button-yellow);
    border-color: var(--principal-button-yellow);
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contenedor-boton .item-boton-3 button {
    font-size: var(--sm);
    background-color: var(--principal-button-yellow);
    border-color: var(--principal-button-yellow);
    border-radius: 0.5rem;
    padding-left: 4rem; 
    padding-right: 4rem ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contenedor-boton .item-boton-4 button {
    font-size: var(--sm);
    background-color: var(--principal-button-yellow);
    border-color: var(--principal-button-yellow);
    border-radius: 0.5rem;
    padding-left: 4rem; 
    padding-right: 4rem ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contenedor-footer .item-footer-1 span{
    color: var(--white);
}

.contenedor-footer .item-footer-2 span{
    color: var(--white);
}

.contenedor-footer .item-footer-3 span{
    color: var(--white);
}

.contenedor-footer .item-footer-4 span{
    color: var(--white);
}

.contenedor-footer .item-footer-5 span{
    color: var(--white);
}